.black-screen {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top:0;
  left:0;
}

body:has(.black-screen) {
  overflow: hidden;
}