.result-wrapper {
  .header {
    font-weight: bold;
  }
 border-radius: 15px;
 width: 50%;
 margin: auto;
 padding: 10px;
 background-color: white;
 display: grid;
 grid-template-columns: 150px 1fr 1fr ;
}

.range-button {
  background-color: rgb(185, 230, 215);
  cursor: pointer;
  @media (hover: hover) {
    &:hover {
      background-color: rgb(158, 236, 210);
    }
  }
}

.dark {
  .result-wrapper {
    background-color: black;
  }
  .range-button {
    color: white;
    background-color: rgb(23, 53, 43);
    @media (hover: hover) {
      &:hover {
        background-color: rgb(26, 77, 60);
      }
    }
  } 
}